In [1]:
#BU KODDA OZETLE;
#Gömülü string methodlar nasıl kullanılır.
#Düzenli ifadeler nasıl kullanılır.
#Gerçek veri setinde string methodlar nasıl kullanılır.

In [2]:
"selam".upper() #buyuk harfe cevirir.

'SELAM'

In [3]:
import numpy as np
import pandas as pd

In [4]:
#GÖMÜLÜ STRİNG METHODLAR.

In [5]:
veri = ["ali","Berk","DENiz",np.nan,"zEYNEP"]

In [6]:
isim = pd.Series(veri)
isim

0       ali
1      Berk
2     DENiz
3       NaN
4    zEYNEP
dtype: object

In [8]:
#str komutu string methodlara ulaşmayı sağlar.
isim.str.capitalize() #isim satırındaki butun verilerin ilk harflerini büyük yaptı yazım kuralına göre yazdı.
#ilk önce series ya da index nesnesini yazıyoruz, sonra str. yazıyoruz sonrada string methodunu yazıyoruz.*****

0       Ali
1      Berk
2     Deniz
3       NaN
4    Zeynep
dtype: object

In [10]:
isim.str.lower() #veri setindeki butun isimler kucuk harf oldu.

0       ali
1      berk
2     deniz
3       NaN
4    zeynep
dtype: object

In [11]:
isim.str.len() #uzunluğunu ekrana yazdı.

0    3.0
1    4.0
2    5.0
3    NaN
4    6.0
dtype: float64

In [14]:
isim.str.startswith("a") #a ile başlayanlar

0     True
1    False
2    False
3      NaN
4    False
dtype: object

In [16]:
df = pd.DataFrame(np.random.randn(3,2),
                 columns = ["Sutun A","Sutun B"],
                 index = range(3))
df

    Sutun A   Sutun B
0 -0.050532  0.630144
1 -0.865475 -0.334719
2 -0.394655  1.010972

In [17]:
df.columns

Index(['Sutun A', 'Sutun B'], dtype='object')

In [18]:
df.columns.str.lower() #sutun isimlerini kucuk harf yapmış oldu.

Index(['sutun a', 'sutun b'], dtype='object')

In [20]:
df.columns.str.lower().str.replace(" ","_") #boşluk yerine _ koydu. ve hepsini kucuk harf yazdı.

Index(['sutun_a', 'sutun_b'], dtype='object')

In [21]:
s = pd.Series(["a_b_c","c_d_e",np.nan,"f_g_h"])
s

0    a_b_c
1    c_d_e
2      NaN
3    f_g_h
dtype: object

In [25]:
s.str.split("_") #split methodu burada _ e göre ayırmada kullanılır.

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

In [26]:
s.str.split("_").str[1] #str 1 yazarsak 1. indexi ekrana gelir.

0      b
1      d
2    NaN
3      g
dtype: object

In [27]:
s.str.split("_", expand = True) #expand = True METHODU DataFrame yapısına dönüştü.

     0    1    2
0    a    b    c
1    c    d    e
2  NaN  NaN  NaN
3    f    g    h

In [29]:
s.str.split("_", expand = True, n = 1) #ayırma işlemini 1 değer için yapar

     0    1    2
0    a    b    c
1    c    d    e
2  NaN  NaN  NaN
3    f    g    h

In [30]:
para = pd.Series(["15","-$20","$300000"])
para

0         15
1       -$20
2    $300000
dtype: object

In [31]:
#bu verideki dolar işaretini kaldıralım;
para.str.replace("$","")

0        15
1       -20
2    300000
dtype: object

In [49]:
film = pd.read_csv("DataSets/imdbratings.csv")
film.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [50]:
film.title.str.upper() #film veri setindeki title sutununu buyuk yazdık.

0                             THE SHAWSHANK REDEMPTION
1                                        THE GODFATHER
2                               THE GODFATHER: PART II
3                                      THE DARK KNIGHT
4                                         PULP FICTION
                            ...
974                                            TOOTSIE
975                        BACK TO THE FUTURE PART III
976    MASTER AND COMMANDER: THE FAR SIDE OF THE WORLD
977                                        POLTERGEIST
978                                        WALL STREET
Name: title, Length: 979, dtype: object

In [52]:
film.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [55]:
film.columns.str.capitalize() #sutunların ilk harfleri buyuk harf olmuş

Index(['Star_rating', 'Title', 'Content_rating', 'Genre', 'Duration',
       'Actors_list'],
      dtype='object')

In [56]:
 film.columns = film.columns.str.capitalize() #ustteki kodu hayatat geçirmek için film.columns değişkenine atayarak gerçek veri setine ekledik.

In [58]:
film
film.head()

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [59]:
#Bir stringin veri setinin olup olmadığının kontrol edilmesi için contains methodu kullanılır.
film.Actors_list.str.contains("Brad Pitt")

0      False
1      False
2      False
3      False
4      False
       ...
974    False
975    False
976    False
977    False
978    False
Name: Actors_list, Length: 979, dtype: bool

In [60]:
#eğer veri setini brad pitt e göre filtrelemek istersek film yazıp bu komutu parantez içine alıyoruz
film[film.Actors_list.str.contains("Brad Pitt")]

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
106,8.3,Snatch.,R,Comedy,102,"[u'Jason Statham', u'Brad Pitt', u'Benicio Del..."
114,8.3,Inglourious Basterds,R,Adventure,153,"[u'Brad Pitt', u'Diane Kruger', u'Eli Roth']"
264,8.1,Twelve Monkeys,R,Mystery,129,"[u'Bruce Willis', u'Madeleine Stowe', u'Brad P..."
508,7.8,The Curious Case of Benjamin Button,PG-13,Drama,166,"[u'Brad Pitt', u'Cate Blanchett', u'Tilda Swin..."
577,7.8,Ocean's Eleven,PG-13,Crime,116,"[u'George Clooney', u'Brad Pitt', u'Julia Robe..."
683,7.7,Fury,R,Action,134,"[u'Brad Pitt', u'Shia LaBeouf', u'Logan Lerman']"
776,7.6,Moneyball,PG-13,Biography,133,"[u'Brad Pitt', u'Robin Wright', u'Jonah Hill']"
779,7.6,Interview with the Vampire: The Vampire Chroni...,R,Horror,123,"[u'Brad Pitt', u'Tom Cruise', u'Antonio Bander..."
807,7.6,The Assassination of Jesse James by the Coward...,R,Biography,160,"[u'Brad Pitt', u'Casey Affleck', u'Sam Shepard']"
826,7.5,Sleepers,R,Crime,147,"[u'Robert De Niro', u'Kevin Bacon', u'Brad Pitt']"
877,7.5,Legends of the Fall,R,Drama,133,"[u'Brad Pitt', u'Anthony Hopkins', u'Aidan Qui..."
901,7.5,Babel,R,Drama,143,"[u'Brad Pitt', u'Cate Blanchett', u'Gael Garc\..."

In [62]:
film.Actors_list.str.replace("[","").str.replace("]","") #actors list grubundaki köşeli parantezleri kaldırdı.

0       u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'
1          u'Marlon Brando', u'Al Pacino', u'James Caan'
2      u'Al Pacino', u'Robert De Niro', u'Robert Duvall'
3      u'Christian Bale', u'Heath Ledger', u'Aaron Ec...
4      u'John Travolta', u'Uma Thurman', u'Samuel L. ...
                             ...
974    u'Dustin Hoffman', u'Jessica Lange', u'Teri Garr'
975    u'Michael J. Fox', u'Christopher Lloyd', u'Mar...
976     u'Russell Crowe', u'Paul Bettany', u'Billy Boyd'
977    u'JoBeth Williams', u"Heather O'Rourke", u'Cra...
978    u'Charlie Sheen', u'Michael Douglas', u'Tamara...
Name: Actors_list, Length: 979, dtype: object