In [1]:
import pandas as pd

In [5]:
s = pd.Series([1,2,3,4], index=["a","b","c","d"])
s

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
s["a"]

1

In [8]:
#reindex methodu belirlediğimiz idnexlere göre veriyi tekrar düzenler.
s2 = s.reindex(["b","d","a","c","e"])
s2

b    2.0
d    4.0
a    1.0
c    3.0
e    NaN
dtype: float64

In [9]:
#reindex methodu ile boş değerlere atama yapabiliriz.
s3 = pd.Series(["mavi","sarı","mor"],index = [0,2,4])
s3

0    mavi
2    sarı
4     mor
dtype: object

In [11]:
#s3 deki boş değerleri doldurmak için reindex deki method değerine ffill parametresini yazmamız gerek.
#DataFrame methodu içinde reindex methodu kullanılabilir.
s3.reindex(range(6),method = "ffill")

0    mavi
1    mavi
2    sarı
3    sarı
4     mor
5     mor
dtype: object

In [12]:
import numpy as np

In [20]:
#columns = sutun değerleri
#index = index değerleri
#reshape = kaça kaçlık bir matris olacağı.
#arange = 16 tane değer olduğu.
df = pd.DataFrame(np.arange(16).reshape(4,4), index = ["a","c","d","e"], 
                 columns = ["ali","efe","can","berk"])
df

   ali  efe  can  berk
a    0    1    2     3
c    4    5    6     7
d    8    9   10    11
e   12   13   14    15

In [21]:
df2 = df.reindex(["d","c","b","a","e"])
df2

    ali   efe   can  berk
d   8.0   9.0  10.0  11.0
c   4.0   5.0   6.0   7.0
b   NaN   NaN   NaN   NaN
a   0.0   1.0   2.0   3.0
e  12.0  13.0  14.0  15.0

In [23]:
isim = ["efe","nur","ali","ahmet"] #BU kod ile satır isimlerini değiştirdik
df.reindex(columns = isim)

   efe  nur  ali  ahmet
a    1  NaN    0    NaN
c    5  NaN    4    NaN
d    9  NaN    8    NaN
e   13  NaN   12    NaN

In [24]:
#loc methodu ile yeniden indeksleme yapılabilir.
df.loc[["c","d","a","e"]]

   ali  efe  can  berk
c    4    5    6     7
d    8    9   10    11
a    0    1    2     3
e   12   13   14    15

In [26]:
s = pd.Series(np.arange(5.),index = ["a","b","c","d","e"])
s

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [27]:
yeni_s =s.drop("b") #silmek istediğimiz satırı drop fonk ile siliyoruz.
yeni_s

a    0.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [28]:
#birden fazla satır silmek istersek. #iç içe yazılır.
s.drop (["c","d"])

a    0.0
b    1.0
e    4.0
dtype: float64

In [29]:
veri = pd.DataFrame(np.arange(16).reshape(4,4),
                    index = ["ali","can","efe","nur"],
                    columns = list("ABCD"))
veri

      A   B   C   D
ali   0   1   2   3
can   4   5   6   7
efe   8   9  10  11
nur  12  13  14  15

In [30]:
veri.drop(["ali","efe"]) #siler

      A   B   C   D
can   4   5   6   7
nur  12  13  14  15

In [31]:
#Herhangi bir sutun silmek için "axis = 1"
#Herhangi bir satır silmek için "axin = 0" parametreleri kullanılır.

veri.drop("A",axis=1) #sütun silmek için axis = 1

      B   C   D
ali   1   2   3
can   5   6   7
efe   9  10  11
nur  13  14  15

In [32]:
veri.drop("ali", axis =0) #satır silmek için axis = 0

      A   B   C   D
can   4   5   6   7
efe   8   9  10  11
nur  12  13  14  15

In [33]:
veri.mean() #sutunların ortalamaları karşımıza gelir

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [34]:
#axis için 0 yerine "index" , 1 yerine "columns" kullanılabilir.
veri.mean(axis = 0 )

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [35]:
veri.mean(axis = 1) #herbir satır için sutunların ort ekrana yazıldı

ali     1.5
can     5.5
efe     9.5
nur    13.5
dtype: float64