In [1]:
import pandas as pd
import numpy as np

In [6]:

df = pd.DataFrame([[2.4,np.nan],[6.3,-5.4],[np.nan,np.nan],[0.75,-1.3]],columns = ["bir","iki"], index = ["a","b","c","d"])
df

    bir  iki
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [7]:
df.sum()

bir    9.45
iki   -6.70
dtype: float64

In [8]:
#Satırsal toplama yapmak için axis = 1 yazılır.

In [9]:
df.sum(axis = 1)

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [10]:
df.mean(axis = 1 )

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [11]:
df.mean(axis = 1, skipna = False ) #skipna = false yazıldığı zaman eksik veri olan satırların ortalamaları alınmaz.

a      NaN
b    0.450
c      NaN
d   -0.275
dtype: float64

In [12]:
df.idxmax() #her iki sutun için max değerleri yazar.

bir    b
iki    d
dtype: object

In [13]:
df.idxmin()

bir    d
iki    b
dtype: object

In [14]:
df.cumsum( ) #her bir satırdaki değerler toplanarak yazılır.

    bir  iki
a  2.40  NaN
b  8.70 -5.4
c   NaN  NaN
d  9.45 -6.7

In [15]:
#####ÖNEMLİ
df.describe() #bu satırla veri setimizin özet bilgileri ekrana gelir.

         bir       iki
count  3.000  2.000000
mean   3.150 -3.350000
std    2.850  2.899138
min    0.750 -5.400000
25%    1.575 -4.375000
50%    2.400 -3.350000
75%    4.350 -2.325000
max    6.300 -1.300000

In [16]:
veri = pd.read_csv("vgsales.csv")

In [17]:
veri.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [39]:
#Korelasyon : iki değişken arası ilişkiyi inceler.
iris = pd.read_table("Iris.csv")
iris

    Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0                        1,5.1,3.5,1.4,0.2,Iris-setosa
1                        2,4.9,3.0,1.4,0.2,Iris-setosa
2                        3,4.7,3.2,1.3,0.2,Iris-setosa
3                        4,4.6,3.1,1.5,0.2,Iris-setosa
4                        5,5.0,3.6,1.4,0.2,Iris-setosa
..                                                 ...
145                 146,6.7,3.0,5.2,2.3,Iris-virginica
146                 147,6.3,2.5,5.0,1.9,Iris-virginica
147                 148,6.5,3.0,5.2,2.0,Iris-virginica
148                 149,6.2,3.4,5.4,2.3,Iris-virginica
149                 150,5.9,3.0,5.1,1.8,Iris-virginica

[150 rows x 1 columns]

In [40]:
iris.head()

  Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0                      1,5.1,3.5,1.4,0.2,Iris-setosa
1                      2,4.9,3.0,1.4,0.2,Iris-setosa
2                      3,4.7,3.2,1.3,0.2,Iris-setosa
3                      4,4.6,3.1,1.5,0.2,Iris-setosa
4                      5,5.0,3.6,1.4,0.2,Iris-setosa

In [43]:
#İkili korelasyon bulmak için .corr methodu kullanılır.
iris["PetalLengthCm"].corr(iris["PetalWidthCm"])

KeyError: 'PetalLengthCm'