In [1]:
#BU NOTEBOOK'DA ;
#txt-csv dosya okuma
#opsiyonlar
#eksik veri ile mücadele
#veri setini yazdırma
#farklı formatları okuma. KONULARI HAKKIDNA BİLGİ ALCAZ.

In [20]:
#GENELLİKLE VERİDEKİ DEĞERLER BİR TAB BOŞLUK VEYA VİRGÜL İLE AYRILMIŞTIR.
#VİRGÜL => pd.read_csv
#TAB =>pd.read_table 
#tab ile ayrılmış veri setini test edelim

In [ ]:
#EĞER FARKLI ŞEKİLLERDEKİ VERİ SETLERİNİ KULLANMAK İÇİN ŞUNLARI KULLANILIRIZ.
#xls, xlxs => read_excel
#sabit uzunluk => read_fwf
#java script obje => read_json
#html tablo => read_html

In [5]:
import pandas as pd

In [12]:
df = pd.read_csv("ali.csv", sep = ",", header = None , names = ["İSİM","YAŞ","EĞİTİM","ANNEAD"]) #sutun isimlerini kendi düzeltiyo. header = None ile 
df #names = ["..."] ile sutun isimleri değiştirilebilir.

        İSİM        YAŞ             EĞİTİM      ANNEAD
0  isimleri    yaşları    eğitim seviyesi    anne adı
1      berat         20             lisans        ayşe
2       ayşe         46            ilkokul      hanife
3       ali         50               lise      zübeyde
4       nisa         24          önlisans         ayşe
5       elif         27          önlisans         ayşe

In [14]:
#İsim sutununu index olarak kullanmka istiyorsak index_col = "" fonk kullanılır.
df = pd.read_csv("ali.csv", sep = ",", header = None , names = ["İSİM","YAŞ","EĞİTİM","ANNEAD"], index_col = "İSİM")
df

                 YAŞ             EĞİTİM      ANNEAD
İSİM
isimleri    yaşları    eğitim seviyesi    anne adı
berat             20             lisans        ayşe
ayşe              46            ilkokul      hanife
ali              50               lise      zübeyde
nisa              24          önlisans         ayşe
elif              27          önlisans         ayşe

In [16]:
#verileri düzenledikten sonra veri setinini çalışma sayfasına taşımak için .to_csv("yeni ismi.csv") halinde yazıcaz.
df.to_csv("Yeni_veri_ali.csv")

In [19]:
#bundan önceki değerleri ayırmak için virgül kullandık istersek bunu farklı bi sembolle yapabiliriz.
import sys

df.to_csv(sys.stdout,sep ="|")

İSİM|YAŞ|EĞİTİM|ANNEAD
isimleri | yaşları | eğitim seviyesi | anne adı
berat| 20|lisans|ayşe
ayşe| 46| ilkokul| hanife
ali | 50 | lise | zübeyde
nisa| 24| önlisans | ayşe
elif| 27| önlisans | ayşe